@import "./game/card.css";
@import "./game/card-holder.css";
@import "./game/navbar.css";
@import "./game/game-tool.css";

.game-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.game-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 2%;
}
