@import "./game/card.css";
@import "./game/card-holder.css";
@import "./game/navbar.css";

.game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.game-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4% 0;
}
