@import "./game/card.css";
@import "./game/card-holder.css";

.navbar {
  display: flex;
  gap: 1rem;
}

.game-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4% 0;
}
