.home-page{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.home-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  color: var(--light-color);
  font-size: 4rem;
  font-weight: 700;
  padding: 1rem;
}

.start-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-button {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: var(--max-font-size);
  font-weight: 700;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 1s ease;
}

.start-button:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
  font-size: var(--max-font-size);
  font-weight: 700;
}
