.game-tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0% 1%;
}

.left-game-tool {
  display: flex;
  border: 1px solid var(--dark-color);
  cursor: pointer;
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 0.3vw;
  box-shadow: var(--main-box-shadow);
}

.game-tool-card {
  display: flex;
  border: 1px solid var(--dark-color);
  cursor: pointer;
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 0.3vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../assets/card_back.png");
  text-decoration: transparent;
}

.right-game-tool {
  display: flex;
  flex-direction: row;
  gap: var(--min-gap);
}

.game-tool-item {
  border: 1px solid var(--dark-color);
  box-shadow: var(--main-box-shadow);
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 0.3vw;
}
