.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
  color: var(--dark-color);
  font-weight: 600;
  font-size: var(--mid-font-size);
  background: rgb(129, 131, 29);
  background: linear-gradient(
    90deg,
    rgba(129, 131, 29, 1) 0%,
    rgba(173, 165, 22, 1) 53%,
    rgba(244, 245, 148, 1) 100%
  );
}

.navbar-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navbar-board {
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px 5px rgba(250, 250, 250, 0.5);
}

.navbar-restart-button {
  border: 1px solid rgba(129, 131, 29, 1);
  background: transparent;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: var(--min-font-size);
  cursor: pointer;
  transition: 1s all;
}

.navbar-restart-button:hover {
    color: var(--light-color);
    background: var(--main-color);
}
